In [2]:
import pandas as pd

In [8]:
df = pd.DataFrame({
    'Name' : ['Anik', 'Manik', 'Alice'],
    'Age' : [22, 33, 44],
    'Job' : ['Progmr', 'Clerk', 'Designer']
})
df = df.set_index('Name')

In [9]:
df.loc['Anik']

Age        22
Job    Progmr
Name: Anik, dtype: object

In [10]:
df = df.reset_index()
df

    Name  Age       Job
0   Anik   22    Progmr
1  Manik   33     Clerk
2  Alice   44  Designer

In [14]:
df.to_csv('01_pandas.csv', index=None)

In [15]:
pd.read_csv('01_pandas.csv', index_col=0)

       Age       Job
Name
Anik    22    Progmr
Manik   33     Clerk
Alice   44  Designer

In [16]:
df.loc[1]

Name    Manik
Age        33
Job     Clerk
Name: 1, dtype: object